/* general styles */
*{
	padding:0;
	margin:0;
	border:0;
	font-family: Verdana;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

.selected{
	color: #10c9c3;
}
.negrita{
	font-weight: bold;
}
li{
	list-style: none;
}

.fondo-verde{
	background-color: #10c9c3;
}

.boton{
	display: inline-block;
	padding: 1rem 2rem;
	font-size: 1rem;
	color: #fff;
	border-radius: 0.4rem;
	background-color: #10c9c3;
	cursor:pointer;
}


h1{
	margin-bottom: 2rem;
	margin-top: 2rem;
	font-size: 2rem;
}

p{
	margin-bottom: 2rem;
	margin-top: 2rem;
	line-height:1.5rem;
}

.contenido-principal{
	background-color: #f5f5f5;
}

.bloque-contenido{
	padding: 5rem;
}

/* header styles */

header figcaption, header nav header{
	display:none;
}

header div#barra-superior{
	display: grid;
    grid-template-columns: 1fr 3fr;
	padding: 0rem 4rem;
}

header figure img{
	height:4rem;
}

nav{
	text-align: right;
}

nav ul li{
	display:inline-block;
	margin-left:1rem;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}

div#header{
	text-align: center;
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/header.jpg');
	padding-top: 20vh;
	padding-bottom: 20vh;
	background-size: cover;
}
div#header h1{
	margin-bottom:1rem;
}

/* aside destacado */
aside#destacado{
	padding: 5rem 0rem;
	color:#fff;
}
aside#destacado ul{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

aside#destacado ul li{
	background-repeat:no-repeat;
	background-size:2rem;
	padding-left: 3rem;
	background-position-y: center;
	margin-right: 5rem;
}

aside#destacado ul li#ediciones{
	background-image:url('../img/ediciones.png');
}

aside#destacado ul li#notas{
	background-image:url('../img/notas.png');
}
aside#destacado ul li#horas{
	background-image:url('../img/horas.png');
}
aside#destacado ul li#alumnos{
	background-image:url('../img/alumnos.png');
}

/* article */
article#principal{
	background-image:url('../img/article.jpg');
	padding-left: 50vw;
	background-size: 50vw;
	background-repeat: no-repeat;
}

article header, article p{
	padding-left: 5rem;
}


/* aside contacto */
aside#contacto{
	width: 70vh;
	margin: auto;
	text-align: center;
}


/* footer */
footer{
	background-color: #000;
	color: #fff;
	padding: 2rem 10rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	line-height:2rem;
}
footer p{
	margin:0;
}

footer a{
	color: #fff;
	font-weight: normal;
	font-style: normal;
}

/*****************************************/
/* pagina contacto */
/*****************************************/

main#contacto{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}

main#contacto label{
	position:fixed;
	left:-1000px;
	top:-1000px;
}

main#contacto input, main#contacto textarea {
	padding: 1rem;
	font-size: 1rem;
	display:block;
	width: 100%;
	margin: 1em 0;
	border: 0;
	
}
form{
	margin: 2rem;
	margin-bottom: 0rem;
}
div#columnas-formulario{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap:10%;
}
main#contacto textarea {
	height: 8rem
}

main#contacto input[type=submit]{
	width: auto;
}

/* galeria */

ul#gallery{
	display: flex;
	justify-content: center;
	align-items: baseline;
}
ul#gallery li{
	position: relative;
}
ul#gallery li img{
	width: 24vw;
	height: 24vw;
	cursor:pointer;
}

ul.galeria figcaption {
	display:none;
	top: 0;
	position: absolute;
	left: 0;
	height: 24vw;
	width: 24vw;
	background-color: rgba(16, 201, 195, 0.80);
	color: #fff;
	cursor:pointer;
}

ul#gallery li figcaption span{
	display: block;
	padding: 10vw 5vw;
}


/* iconos de https://www.iconfinder.com/iconsets/school-172*/

/* galeria 2 */
div#second-gallery{
	width:75vw;
	margin:auto;
}

ul#gallery2  li {
	display: inline-block;
}
ul#gallery2  li img{
	width:10rem;
	cursor: pointer;
}
img.foto-grande{
	display:none;
}


/* project */

#project {
	background-image: url('../img/article.jpg');
	background-position:right;
	padding-right: 50vw;
	background-size: 50vw;
	background-repeat: no-repeat;
}